/* 
Базовый сброс отступов и полей 
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(199, 48%, 66%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
